# Este archivo es para indicarle a otro desarrollador que tome nuestro proyecto, sepa que variables de entorno debe alimentar localmente.

// CONFIG
PORT=3000
CORS=*

// MONGO
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=